.content-box,
.border-box {
  width: 200px;
  height: 100px;
  border: 5px solid black;
  padding: 20px;
  margin: 20px;
  background-color: lightblue;
}

.content-box {
  box-sizing: content-box;
}

.border-box {
  box-sizing: border-box;
  background-color: lightgreen;
}

.display-none,
.display-block,
.display-inline,
.display-inline-block {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.display-none {
  display: none;
  background: lightcoral;
}

.display-block {
  display: block;
  background: lightgreen;
}

.display-inline {
  display: inline;
  background: lightyellow;
}

.display-inline-block {
  display: inline-block;
  background: lightpink;
}
